

class Animal
{
    public string name;
    public int age;
    public string animalType;
}

Animal animal = new Animal();

Console.WriteLine("Enter the name of the animal:");
animal.name = Console.ReadLine();
Console.WriteLine("Enter the age of the animal:");
animal.age = int.Parse(Console.ReadLine());
Console.WriteLine("Enter the type of the animal:");
animal.animalType = Console.ReadLine();

Console.WriteLine("The animal's name is: " + animal.name);
Console.WriteLine("The animal's age is: " + animal.age);    
Console.WriteLine("The animal's type is: " + animal.animalType);